<mat-toolbar color="primary" class="my-header">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="my-container" style="height: calc(100vh - 128px);">

  <mat-sidenav #sidenav mode="over" opened="false" color="grey" class="my-sidenav" [fixedInViewport]="false">
    <h3 mat-subheader>Databases</h3>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button routerLink="/db/{{node.parent}}/{{node.item}}">
          <mat-icon [color]="">
            grid_on
          </mat-icon>
        </button>
        {{node.item}}
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
          <mat-icon [style.color]="treeControl.isExpanded(node) ? 'black' : 'gray'">
            storage
          </mat-icon>
        </button>
        {{node.item}}
      </mat-tree-node>
    </mat-tree>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet>

    </router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>

<mat-toolbar class="my-footer">
  <div style="font-size: 12px; margin: auto;">Current Version 0.4.1 (beta)</div>
  <button mat-stroked-button routerLink="/dashboard">Dashboard</button>
  <button mat-stroked-button routerLink="/db/work/emp">Test</button>
  <button mat-stroked-button (click)="loadTree()">Tree</button>
</mat-toolbar>
<!-- </div> -->
<!-- 

  <mat-form-field>
    <textarea matInput placeholder="SQL-script" [(ngModel)]="message"></textarea>
  </mat-form-field>

  <button mat-stroked-button (click)="run()">Run</button> -->